    <section class="ng-video-container home-section text-center" ng-controller="ArticleController">

        <!-- Base Directive -->
        <section class="video ng-scope" ng-video="">


            <!-- Screen Directive -->
            <video vi-screen="" autoplay="" id="bgvid" poster="videos/poster.png"></video>
          

            

        </section>
        <div class="video-article">
            <h3>NEWS</h3>
            <!-- <div ng-repeat="article in articles | orderBy : -'dateCreated'">
            <ul style="list-style: none;">
                <li class="content"><h4>{{article.subtitle}}</h4></li>

                <li class="content"><p>{{article.leadtext}}</p></li>
            </ul>
            </div> -->
            <accordion>
                <accordion-group heading="{{article.subtitle}}" ng-repeat="article in articles | orderBy : -'dateCreated'">
                  {{article.leadtext}}
                </accordion-group>
            </accordion>
            <h3>VIDEOS</h3>
            <accordion>
                <accordion-group heading="{{relatedVideo.title}}" ng-repeat="relatedVideo in relatedVideos">
                    <youtube-video video-id=relatedVideo.id player-width="450" player-height="300" player-vars="playerVars"></youtube-video>
                </accordion-group>
            </accordion>
        </div>

    </section>

